@import url("https://fonts.googleapis.com/css2?family=Eczar&family=McLaren&family=Montserrat&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #279eff;
  overflow-x: hidden;
}
:root {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
* {
  color: rgba(0, 0, 0, 0.7);
}

form {
  display: flex;
  flex-direction: column;
  max-height: 30vw;
  width: 40vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.37rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1vw;
}

input[type="file"] {
  display: none;
}

.excel-input {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7rem;
  border: 1px solid #00b2ca;
  border-radius: 0.3rem;
  background-color: #7dcfb6;
}

.excel-input:hover {
  background-color: #00b2ca;
}

input {
  height: 1.2rem;
  width: 8vw;
  border-radius: 0.4rem;
  padding: 10px;
  font-family: "McLaren";
}

.submit-btn {
  background-color: #40f8ff;
  color: #023047;
  height: 2rem;
  width: 5rem;
  font-weight: 500;
  border-radius: 0.4rem;
  font-family: "mclaren";
  border: none;
  margin-bottom: 1vw;
}

.submit-btn:hover {
  background-color: #023047;
  color: #edf2f4;
  cursor: pointer;
}

.error-msg {
  color: #f03;
}

.success-msg {
  font-weight: 800;
}
