.student-container {
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 10vh;
}
.student-details {
  display: flex;
  height: 50vh;
  color: white;
  align-items: center;
  justify-content: space-around;
}
.photo {
  background-color: rgba(255, 255, 255, 0.5);
  height: 20vh;
  width: 20vh;
  padding: auto;
  margin: auto;
}
.detail-right {
  width: 50vw;
}

.name,
.rollno,
.std,
.section {
  min-height: 7vh;
  color: #caf0f8;
  font-size: 2rem;
  font-weight: bold;
}

.student-marks {
  text-align: center;
}

table,
th,
td {
  margin-top: 5vh;
  padding: 2vh 8vh;
  font-size: 1.2rem;
  border: 3px solid #06d6a0;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  margin-bottom: 23vh;
}

th {
  color: #06f9cc;
}

table {
  border-collapse: collapse;
}

h2 {
  color: #caf0f8;
  text-decoration: underline;
  font-weight: 800;
}

.student-container > div {
  width: 100vw;
}

.table-container {
  overflow-x: hidden;
}

@media (max-width: 847px) {
  .name,
  .rollno,
  .section,
  .std {
    font-size: 2rem;
  }
  table,
  th,
  td {
    padding: 1vh 2vh;
    font-size: 1rem;
  }
}

@media (max-width: 566px) {
  .name,
  .rollno,
  .section,
  .std {
    font-size: 1.5rem;
  }
  table,
  th,
  td {
    font-size: 1rem;
  }
}
